<h1>Anagrams and Antigrams</h1>
<form action="/interface">
  <div class="form-group">
    <label for="first">Enter words to see any correlation</label>
    <input id="first" name="first" class="form-control" type="text">
    <input id="second" name="second" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>
