<h1>Anagrams and Antigrams</h1>
<form action="/anagrams_antigrams">
  <div class="form-group">
    <label for="anagram">Enter a Word and See if it is a Anagram or an Antigram</label>
    <input id="anagram" name="anagram" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>
